{% extends 'layout.html' %}
{% block title %}Actualizar Alumno{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profesores_dashboard.css') }}">
</head>
<body>
    <h2>Actualizar valor del Alumno</h2>
    <div class="container">
        <form action="{{ url_for('edit_record', record_id=record['NoControl']) }}" method="post">
            {% for column, value in record.items() %}
                {% if column not in ['NoControl', 'Conteo'] %}
                <div class="form-group">
                    <label for="{{ column }}">{{ column }}:</label>
                    {% if column in ['ApellidoP', 'ApellidoM', 'Nombres'] %}
                    <input type="text" name="{{ column }}" id="{{ column }}" value="{{ value if value is not none else '' }}">
                    {% elif column == 'Estado' %}
                    <select name="Estado" id="Estado">
                        <option value="0" {{ value == 0 and 'selected' }}>No liberado</option>
                        <option value="1" {{ value == 1 and 'selected' }}>Liberado</option>
                    </select>
                    {% elif column == 'Atendidos' %}
                    <select name="Atendidos" id="Atendidos">
                        <option value="0" {{ value == 0 and 'selected' }}>No atendido</option>
                        <option value="1" {{ value == 1 and 'selected' }}>Atendido</option>
                    </select>
                    {% else %}
                    <div class="checkbox-wrapper">
                        {% if value %}
                            <a href="{{ url_for('uploaded_file', filename=record[column]|basename) }}" target="_blank">Ver archivo PDF</a>
                        {% endif %}
                        <div class="direcction">
                            <input type="checkbox" id="large_checkbox" name="columns_to_clear" value="{{ column }}" {% if not value %}disabled{% endif %}>
                            <label for="large_checkbox">Eliminar valor de esta celda</label>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" name="save_changes">Guardar Cambios</button><br><br>
            <div class="button"><a href="{{ url_for('profesores_dashboard') }}" class="btn">Regresar</a></div>
        </form><br> 
        <form action="{{ url_for('delete_record', record_id=record['NoControl']) }}" method="post" style="display:inline;">
            <button type="submit" name="delete_record" onclick="return confirm('¿Estás seguro de que deseas eliminar este registro?')">Eliminar Alumno</button>
        </form>             
    </div>
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
</body>
{% endblock %}
