{% extends 'layout.html' %}
{% block title %}Actualizar alumno{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="url_for('staric', 'js/actualizar_alumno.js')">
</head>
<body>
    <h2>Actualizar valor del Alumno</h2>
    <div class="container">
        {% for valor in registro %}    
        <form action="/actualizar_alumno/{{ valor.0 }}" method="post">
            <label for="noControl">No. Control:</label>
            <input type="text" id="noControl" name="noControl" value="{{ valor.0 }}" required><br><br>
        
            <label for="apellidoP">Apellido Paterno:</label>
            <input type="text" id="apellidoP" name="apellidoP" value="{{ valor.1 }}" required><br><br>
        
            <label for="apellidoM">Apellido Materno:</label>
            <input type="text" id="apellidoM" name="apellidoM" value="{{ valor.2 }}" required><br><br>
        
            <label for="nombre">Nombre(s):</label>
            <input type="text" id="nombre" name="nombre" value="{{ valor.3 }}" required><br><br>
        
            <div class="form-group">
                <label for="year_2019">2019:</label>
                <button type="button" onclick="vaciarDato('{{ valor.4 }}', '2019')">Vaciar</button>
            </div>
        
            <div class="form-group">
                <label for="year_2021">2021:</label>
                <button type="button" onclick="vaciarDato('{{ valor.5 }}', '2021')">Vaciar</button>
            </div>
        
            <div class="form-group">
                <label for="year_2022">2022:</label>
                <button type="button" onclick="vaciarDato('{{ valor.6 }}', '2022')">Vaciar</button>
            </div>
        
            <div class="form-group">
                <label for="year_2023">2023:</label>
                <button type="button" onclick="vaciarDato('{{ valor.7 }}', '2023')">Vaciar</button>
            </div>
        
            <label for="estado">Estado:</label>
            <select id="estado" name="estado">
                <option value="0" {% if valor.10 == 0 %}selected{% endif %}>No liberado</option>
                <option value="1" {% if valor.10 == 1 %}selected{% endif %}>Liberado</option>
            </select><br><br>
        
            <label for="atendidos">Atendidos:</label>
            <select id="atendidos" name="atendidos">
                <option value="0" {% if valor.11 == 0 %}selected{% endif %}>No atendido</option>
                <option value="1" {% if valor.11 == 1 %}selected{% endif %}>Atendido</option>
            </select><br><br>
        
            <div class="form-actions">
                <button type="submit">Actualizar Registro</button>
                <button href="{{ url_for('profesores_dashboard') }}" class="button">Volver</button>
            </div>
        </form>
        {% endfor %}
    </div>
</body>
{% endblock %}
