{% extends 'layout.html' %}
{% block title %}Actualizar Alumno{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actualizar_alumno.css') }}">
</head>
<body>
    <h2>Actualizar valor del Alumno</h2>
    <div class="container">
        <form action="{{ url_for('edit_record', record_id=record['NoControl']) }}" method="post">
            {% for column, value in record.items() %}
                {% if column not in ['NoControl', 'Conteo'] %}
                <div class="form-group">
                    <label for="{{ column }}">{{ column }}:</label>
                    {% if column in ['ApellidoP', 'ApellidoM', 'Nombres'] %}
                    <input type="text" name="{{ column }}" id="{{ column }}" value="{{ value if value is not none else '' }}">
                    {% elif column == 'Estado' %}
                    <select name="Estado" id="Estado">
                        <option value="0" {{ value == 0 and 'selected' }}>No liberado</option>
                        <option value="1" {{ value == 1 and 'selected' }}>Liberado</option>
                    </select>
                    {% elif column == 'Atendidos' %}
                    <select name="Atendidos" id="Atendidos">
                        <option value="0" {{ value == 0 and 'selected' }}>No atendido</option>
                        <option value="1" {{ value == 1 and 'selected' }}>Atendido</option>
                    </select>
                    {% else %}
                    <!-- Botón para eliminar el valor de esta celda -->
                    <input type="checkbox" name="columns_to_clear" value="{{ column }}" {% if not value %}disabled{% endif %}> Eliminar valor de esta celda
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" name="save_changes">Guardar Cambios</button>
        </form>                
    </div>
    <script>
        function deleteValue(column) {
            const form = document.createElement('form');
            form.method = 'post';
            form.action = `{{ url_for('edit_record', record_id=record['NoControl']) }}`;
            
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'column_name';
            input.value = column;
            form.appendChild(input);
            
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>
{% endblock %}
