.intro {
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.intro p, .intro ul {
    margin: 10px 0;
}

.intro ul {
    list-style-type: disc;
    padding-left: 20px;
}

.sections button {
    background-color: #033a6a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.sections button:hover {
    background-color: #0056b3;
}

.main-container {
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
}


.container p,ul{
    font-size: 19px;
}

.container li{
    margin: 10px;
}

.icon {
    font-size: 20px;
}

