
.class0 {
    background-color: #ff0000;
}

.class1 {
    background-color: #f1eea7;
}

.class2 {
    background-color: #F9FF01;
}

.class3 {
    background-color: #41dd41;
}

.class4 {
    background-color: #007000;
}

.table {
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    text-align: center;
    word-break: break-word;
}

.table th {
    background-color: #f2f2f2;
    white-space: nowrap;
    padding: 10px;
    font-weight: bold;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:hover {
    background-color: #0e286e;
    color: #ffffff;
    cursor: default;
}

.table-bordered {
    border: 1px solid #ddd;
}

.logout-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0e286e;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #575757;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    text-decoration: none;
}
.btn-danger:hover, .btn-primary:hover {
    background-color: #d4912b;
}

