.button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.button-container button {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.table {
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table th {
    text-align: center;
    word-break: break-word;
}

.table th {
    background-color: #f2f2f2;
    white-space: nowrap;
    padding: 10px;
    font-weight: bold;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:hover {
    background-color: #0e286e;
    color: #ffffff;
    cursor: default;
}

.table-bordered {
    border: 1px solid #ddd;
}

.logout-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0e286e;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #575757;
}

.table td a{
    background-color: #033a6a;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}
.table td a:hover{
    background-color: #0056b3;
}

.checkbox-wrapper {
    display: flex;
    font-size: 18px;
    margin-bottom: 15px;
    flex-direction: column;
}
.direcction {
    display: flex;
    font-size: 18px;align-items: center;
    flex-direction: row;
}

.checkbox-wrapper input[type="checkbox"] {
    width: 24px; 
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-wrapper label {
    font-size: 18px;
    cursor: pointer;
}

.button .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #033a6a;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    font-size: 17px;
    cursor: pointer;
    width: calc(100% - 40px);
}

.button .btn:hover {
    background-color: #0056b3;
}