{% extends 'layout.html' %}
{% block title %}Usuario {{ session['user_name'] }}{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alumnos_dashboards.css') }}">
</head>
<body>
    <h1>{{ session['user_name'] }}</h1>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="centrar">
        <div class="table-container form">
            <div class="scroll-container">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="no-control">No Control</th>
                            <th class="nombre">Nombre</th>
                            {% for col in columns %}
                                {% if col not in ['NoControl', 'Nombre'] %}
                                    <th>{{ col }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in alumnos %}
                        <tr class="detail-row">
                            {% for col in columns %}
                                <td data-label="{{ col }}">
                                {% if col in ['NoControl', 'ApellidoP', 'ApellidoM', 'Nombres'] %}
                                    {{ item[col] }}
                                {% else %}
                                    {% if item[col] == 1 %}
                                        <a href="#" target="_blank" class="download-button">Descargar</a>
                                    {% elif item[col] == 0 %}
                                        <span class="message-view">Constancia no subida</span>
                                    {% endif %}
                                {% endif %}
                            </td>    
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}
