{% extends 'layout.html' %}
{% block title %}Usuario {{ session['user_name'] }}{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alumnos_dashboards.css') }}">
</head>
<body>
    <h1>{{ session['user_name'] }}</h1>
    <div class="centrar">
        <div class="form">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="no-control">No Control</th>
                        <th class="nombre">Nombre</th>
                        {% for col in columns %}
                            {% if col not in ['NoControl', 'Nombre', 'Conteo'] %}
                                <th>{{ col }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in alumnos %}
                    <tr class="detail-row">
                        {% for col in columns %}
                        <td data-label="{{ col }}" class="{% if col == 'Conteo' %}hidden{% endif %}">
                            {% if col in ['NoControl', 'ApellidoP', 'ApellidoM', 'Nombres'] %}
                                {{ item[col] }}
                            {% elif col in ['Estado', 'Atendidos'] %}
                                {{ item[col] }}
                            {% else %}
                                {% if item[col] == 1 %}
                                    <span class="message-view message-view--green">Emitida</span>
                                {% elif item[col] == 0 %}
                                    <span class="message-view message-view--blue">Constancia no emitida</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
