{% extends 'layout.html' %}
{% block title %}Usuari@ {{ session['user_name'] }}{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alumnos_dashboard.css') }}">
</head>
<body>
    <h1>Bienvenid@ {{ session['user_name'] }}</h1>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
                <th>Guardar</th>
            </tr>
        </thead>
        <tbody>
            {% for item in alumnos %}
            <tr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% for col in columns %}
                    <td>
                        {% if col in ['NoControl', 'ApellidoP', 'ApellidoM', 'Nombres'] %}
                            {{ item[col] }}
                        {% else %}
                            <input type="file" name="file" class="file-input" id="file-input-{{ loop.index }}-{{ col }}" />
                            <input type="hidden" name="column_name" value="{{ col }}">
                            <label for="file-input-{{ loop.index }}-{{ col }}" class="file-label">Subir archivo</label>
                            <span class="file-name" id="file-name-{{ loop.index }}-{{ col }}">No se ha seleccionado archivo</span>
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td>
                        <input type="hidden" name="no_control" value="{{ item['NoControl'] }}" />
                        <button type="submit">Guardar</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.querySelectorAll('.file-input').forEach(input => {
            input.addEventListener('change', function() {
                const fileNameSpan = document.getElementById('file-name-' + this.id.split('-')[2]);
                fileNameSpan.textContent = this.files[0] ? this.files[0].name : 'No se ha seleccionado archivo';
            });
        });
    </script>
</body>
{% endblock %}
