{% extends 'layout.html' %}
{% block title %}Usuari@ {{ session['user_name'] }}{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alumnos_dashboard.css') }}">
</head>
<body>
    <h1>Bienvenid@ {{ session['user_name'] }}</h1>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="centrar">
        <form method="POST" enctype="multipart/form-data">
            <div class="table-container">
                <div class="scroll-container">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="no-control">No Control</th>
                                <th class="nombre">Nombre</th>
                                {% for col in columns %}
                                    {% if col not in ['NoControl', 'Nombre'] %}
                                        <th>{{ col }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in alumnos %}
                            <tr class="detail-row">
                                {% for col in columns %}
                                <td data-label="{{ col }}">
                                    {% if col in ['NoControl', 'ApellidoP', 'ApellidoM', 'Nombres'] %}
                                        {{ item[col] }}
                                    {% else %}
                                        {% if item[col] %}
                                            <a href="{{ url_for('static', filename='uploads/' ~ session['user_id'] ~ '/' ~ item[col]) }}" target="_blank" class="view-pdf-button">Ver PDF</a>
                                            <br>
                                        {% endif %}
                                        <input type="file" name="file" accept=".pdf" class="file-input" id="file-input-{{ loop.index }}-{{ col }}" />
                                        <input type="hidden" name="column_name" value="{{ col }}">
                                        <label for="file-input-{{ loop.index }}-{{ col }}" class="file-label">
                                            {% if item[col] %}
                                                Reemplazar PDF
                                            {% else %}
                                                Subir PDF
                                            {% endif %}
                                        </label>
                                        <span class="file-name" id="file-name-{{ loop.index }}-{{ col }}">No se ha seleccionado archivo</span>
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <button type="submit" class="submit-button">Guardar</button>
            </div>
        </form>

    </div>
    
    <script>
        document.querySelectorAll('.file-input').forEach(input => {
            input.addEventListener('change', function() {
                const fileNameSpan = document.getElementById('file-name-' + this.id.split('-')[2]);
                fileNameSpan.textContent = this.files[0] ? this.files[0].name : 'No se ha seleccionado archivo';
            });
        });
    </script>
</body>
{% endblock %}
