{% extends 'layout.html' %}   
{% block title %}Página Principal{% endblock %}
{% block content %}
<h2 class="title">Bienvenido al Sistema de Gestión de Jornadas y Tutorías</h2>
<div class="container">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <p>Este sistema te permitirá gestionar tus jornadas académicas y tutorías de manera eficiente.</p>
        <p>Para comenzar, sigue las siguientes instrucciones:</p>
        <ul>
            <li>Si eres alumno, primero debes registrarte con tus datos, incluyendo tu número de control y una contraseña.</li>
            <li>Una vez registrado, podrás acceder a tus jornadas y tutorías.</li>
            <li>Si eres profesor, inicia sesión para acceder a los datos de todos los alumnos.</li>
        </ul>
    </div>
    {% if session.get('user_role') == 'alumno' %}
    <div class="sections">
        <h3 class="section-title">Mis Tutorías</h3>
        <p>Aquí podrás ver y gestionar tus tutorías.</p>
        <a href="{{url_for('alumnos_tutorias')}}" class="button">Acceder a Mis Tutorias</a>

        <h3 class="section-title">Mis Jornadas</h3>
        <p>Aquí podrás ver y gestionar tus jornadas académicas.</p>
        <a href="{{url_for('alumnos_jornadas')}}" class="button">Acceder a Mis Jornadas</a>
    </div>
    {% endif %}
</div>
{% endblock %}
