{% extends 'layout.html' %}
{% block title %}Iniciar Sesión - Alumnos{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h2>Iniciar Sesión - Alumnos</h2>
        <form action="{{ url_for('iniciar_alumnos') }}" method="post">
            <div class="form-group">
                <label for="no_control">No. de Control:</label>
                <input type="number" id="no_control" name="no_control" required>
            </div>
            <div class="form-group password-container">
                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" required>
            </div>
            <button type="submit">Iniciar Sesión</button>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
        </form>
    </div>
</body>
{% endblock %}
