{% extends 'layout.html' %}
{% block title %}Iniciar Sesión - Profesores{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h2>Iniciar Sesión - Profesores</h2>
        <form action="{{ url_for('iniciar_profesores') }}" method="post">
            <div class="form-group">
                <label for="no_trabajador">No. de Trabajador:</label>
                <input type="number" id="no_trabajador" name="no_trabajador" required>
            </div>
            <div class="form-group">
                <label for="nombres">Nombres:</label>
                <input type="text" id="nombres" name="nombres" required>
            </div>
            <div class="form-group">
                <label for="clave">Clave:</label>
                <input type="password" id="clave" name="clave" minlength="6" required>
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    </div>
</body>
{% endblock %}
